* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header {
    background-color: #1f2937;
    color: white;
    padding-top: 20px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 100px;
}

.main-nav {
    display: flex;
    justify-content: center;
    gap: 35%;
}

.header-title {
    font-size: 24px;
    /* flex: 1; */
}

.nav-list {
    /* flex: 1; */
    list-style-type: none;
    display: flex;
    /* justify-content: space-evenly; */
    gap: 30px;
    align-items: center;
    /* margin-right:; */
}
.nav-item-list {
    font-size: 18px;
}


.main-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin: ; */
}
.title-container {
    max-width: 550px;
}

#main-title {
    font-size: 48px;
    font-weight: 700;
}
.main-text {
    max-width: 400px;
}
.title-container .signup-button {
    background-color: #3882F6;
    padding: 5px 25px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 500;
}
.title-container .signup-button:hover {
    cursor: pointer;
}

.image-container {
    background-color: rgba(128, 128, 128, 0.419);
    width: 400px;
    height: 200px;
    /* text-align: center; */
}


.info-container {
    margin-top: 35px;
}
.info-main-title {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
}

.info-content {
    display: flex;
    /* margin: auto; */
    justify-content: center;
    gap: 5em;
    margin-top: 30px;
}
.info-item {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 20px;
}
.info-item img{ 
    border: 3px solid #3882F6;
    border-radius: 12px;
    width: 150px;
    height: 150px;
}
.info-item p {
    font-size: 17px;
    color: #4B5563;
}


.text-section {
    width: 100%;
    background-color: #e5e7eb;
    font-size: 36px;
    margin: 6% 0  ;
    padding: 9% 12%;
}
.text-section p {
    color: #1f2937;
}
.quote-autor {
    /* text-align: right; */
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
}

.signUp-only {
    display: flex;
    justify-content: center;
    gap: 20%;
    background-color: #3882F6;
    padding: 36px 0 ;
    color:#e5e7eb;
    /* max-width: fit-content; */
    margin: 0 20%;
    border-radius: 12px;
}

.signup-text > h3{
    font-size: 24px;
}

.signup-button > button{
    background-color: #3882F6;
    border: 2px solid #e5e7eb;
    padding: 7px 30px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 12px;
    color: #e5e7eb;
}

